## EAS 503 Homework 4 Submission
Name - _Martin Jia_

**Make sure that you rename the notebook file to *replacewithubitname*_eas503_hw3.ipynb**


### Submission Details 
* **Due Date** - November 28, 2017 by 11.59 PM PST. All assignments have to be submitted using UBLearns.
* **Number of Problems** - 1 
* **Maximum points** - 50
* **Collaboration policy**
 - Every student has to submit individual homeworks
 - Any collaboration, in the form of discussion, with other members of the class is permitted, as long as the names of the collaborating members are explicitly stated on top of the submitted homework.
 - Any overlap with another submission or material from Internet will be awarded an F.
* **Late submission policy** - _No late submissions allowed_
* **Submission Format** - Enter code for each problem in the appropriate cell below. You may use multiple cells for a single problem to improve readability.

### Problem 1 - Chicago Crime Dataset (50 points)

Recall the Chicago Crime Data that was used in HW3. In this HW you are provided with 3 data files namely `chicago_crime_data_1.csv`, `chicago_crime_data_2.csv` and `primary_type_id.csv`.  The `chicago_crime_data_1.csv` contains data pertaing to the details of the crime and the `chicago_crime_data_2.csv` has information about the location and type. Both the datasets have the Crime ID as the primary indicator. 

The `primary_type_id.csv` contains the mapping between the primary crime type to their corresponding ID.

Using pymysql import the chicago crime data. Check if the data format are correct. In this problem, you will be asked to create a single sql query that will result in the desired output. Wherever required, provide the algebraic expressions and expression trees.

1. What is the average crime rate in each year? (Query)

2. Subset the list of crimes that occured at SIDEWALK and an arrest has been made. (Query, algebraic expression and expression tree)

3. In the resulting dataset, identify the crime type that resulted in most crimes per each district. (Query)

4. List the crimes with FBI code = 26 and domestic? (Query, algebraic expression and expression tree) 

5. What is the increase in the number of crimes involving thefts (primary crime type) from 2016 to 2017? (Query)

6. What are the 3 most common types of crimes in `001XX N PARKSIDE AVE`? Provide the corresponding crime counts for these crime types. (Query)

7. Average days between the crime indcident date and last updated date. (Query)

8. List the crimes that were committed on `4/30/2016` and updated on the same day. (Query, algebraic expression, expression tree)

9. Subset the list of crimes in 2016 that were domestic and occured on a `STREET` and an arrest was made. (Query, algebraic expression, expression tree)

10. Are there any crimes that involved `Telephone threats` that occured in Disctric `10` and FBI code `30`? (Query, algebraic expression, expression tree)


Submit the SQL query as a .txt file. The algebraic expressions and expression tree can hand written and submitted through UBLearns as a single PDF file.

In [1]:
import pymysql
config = {
    'host':'127.0.0.1',
    'port':3306,
    'user':'root',
    'password':'123456',
    'db':'hw4',
    }
db = pymysql.connect(**config)
cursor = db.cursor()

In [15]:
#What is the average crime rate in each year? 
cursor.execute('select Year, count(*)/2700000 from crime_details group by year;')
data = cursor.fetchall()
print(f'crime rate of {data[0][0]}: {data[0][1]}')
print(f'crime rate of {data[1][0]}: {data[1][1]}')

crime rate of 2016: 0.0992
crime rate of 2017: 0.0624

In [46]:
#Subset the list of crimes that occured at SIDEWALK and an arrest has been made
query2 = 'select Primary_Type from crime_details as d join crime_incidents as i \
on d.Crime_ID = i.Crime_ID join crime_types t on d.Primary_Type_ID = t.Primary_Type_ID \
where Arrest = \'TRUE\' and Location_Description = \'SIDEWALK\' group by Primary_Type'
cursor.execute(query2)
data = cursor.fetchall()
print(data)

(('ARSON',), ('ASSAULT',), ('BATTERY',), ('BURGLARY',), ('CONCEALED CARRY LICENSE VIOLATION',), ('CRIM SEXUAL ASSAULT',), ('CRIMINAL DAMAGE',), ('CRIMINAL TRESPASS',), ('DECEPTIVE PRACTICE',), ('GAMBLING',), ('INTERFERENCE WITH PUBLIC OFFICER',), ('INTIMIDATION',), ('KIDNAPPING',), ('LIQUOR LAW VIOLATION',), ('MOTOR VEHICLE THEFT',), ('NARCOTICS',), ('OBSCENITY',), ('OFFENSE INVOLVING CHILDREN',), ('OTHER NARCOTIC VIOLATION',), ('OTHER OFFENSE',), ('PROSTITUTION',), ('PUBLIC INDECENCY',), ('PUBLIC PEACE VIOLATION',), ('ROBBERY',), ('SEX OFFENSE',), ('STALKING',), ('THEFT',), ('WEAPONS VIOLATION',))

In [53]:
#In the resulting dataset, identify the crime type that resulted in most crimes per each district.
cursor.execute('select * from \
(select Primary_Type,District,count(Primary_Type) c from crime_details as d join crime_incidents as i \
on d.Crime_ID = i.Crime_ID join crime_types t on d.Primary_Type_ID = t.Primary_Type_ID \
where Arrest = \'TRUE\' and Location_Description = \'SIDEWALK\' group by District,Primary_Type order by c desc) as m \
group by District having c = max(c)')
data = cursor.fetchall()
print(data)

(('BATTERY', 1, 126), ('NARCOTICS', 2, 107), ('NARCOTICS', 3, 157), ('NARCOTICS', 4, 164), ('NARCOTICS', 5, 121), ('NARCOTICS', 6, 178), ('NARCOTICS', 7, 327), ('NARCOTICS', 8, 112), ('NARCOTICS', 9, 105), ('NARCOTICS', 10, 562), ('NARCOTICS', 11, 2305), ('NARCOTICS', 12, 135), ('BATTERY', 14, 65), ('NARCOTICS', 15, 838), ('BATTERY', 16, 45), ('BATTERY', 17, 47), ('BATTERY', 18, 140), ('BATTERY', 19, 169), ('BATTERY', 20, 41), ('BATTERY', 22, 46), ('BATTERY', 24, 43), ('NARCOTICS', 25, 177))

In [32]:
#List the crimes with FBI code = 26 and domestic?
cursor.execute('select Primary_Type from crime_details as d join crime_incidents as i \
on d.Crime_ID = i.Crime_ID join crime_types as t \
on d.Primary_Type_ID = t.Primary_Type_ID where \
FBI_Code like \'%26%\' and Domestic = \'TRUE\' group by Primary_Type;')
data = cursor.fetchall()
print(data)

(('CRIMINAL TRESPASS',), ('HUMAN TRAFFICKING',), ('INTERFERENCE WITH PUBLIC OFFICER',), ('INTIMIDATION',), ('KIDNAPPING',), ('NON-CRIMINAL (SUBJECT SPECIFIED)',), ('OFFENSE INVOLVING CHILDREN',), ('OTHER OFFENSE',), ('PUBLIC PEACE VIOLATION',), ('STALKING',))

In [34]:
#What is the increase in the number of crimes involving thefts (primary crime type) from 2016 to 2017?
theft = '(select Year, count(*) as c from crime_details as d join crime_types  as \
 c on d.Primary_Type_ID = c.Primary_Type_ID where c.Primary_Type = \'THEFT\' group by Year;)'

query = f'select n.c - m.c from {theft} as m,\
 {theft} as n \
 where m.Year = 2016 and n.Year = 2017'
cursor.execute(query)
data = cursor.fetchall()
print(data[0][0])

-21800

In [59]:
#What are the 3 most common types of crimes in 001XX N PARKSIDE AVE? Provide the corresponding crime counts for these crime types.
query = 'SELECT Primary_Type,count(*) as c FROM \
crime_details d join crime_types t \
on d.Primary_Type_ID = t.Primary_Type_ID \
where block = \'001XX N PARKSIDE AVE\' \
group by Primary_Type order by c desc \
limit 3;'
cursor.execute(query)
data = cursor.fetchall()
print(data)

(('BATTERY', 20), ('THEFT', 15), ('ASSAULT', 14))

In [60]:
#Average days between the crime indcident date and last updated date.
query = 'SELECT avg(datediff(d.Updated_On,i.Date)) \
FROM crime_details d join crime_incidents i \
on d.Crime_ID = i.Crime_ID;'
cursor.execute(query)
data = cursor.fetchall()
print(data)

((Decimal('14.1834'),),)

In [65]:
#List the crimes that were committed on 4/30/2016 and updated on the same day.
query = 'SELECT d.* FROM crime_incidents as i join crime_details as d \
on i.Crime_ID = d.Crime_ID \
where date(i.date) = \'2016-4-30\' and date(d.Updated_On) = \'2016-4-30\';'
cursor.execute(query)
data = cursor.fetchall()
print(data)

()

In [36]:
#Subset the list of crimes in 2016 that were domestic and occured on a STREET and an arrest was made.
query = 'SELECT Primary_Type FROM crime_incidents i join crime_details d on i.Crime_ID = d.Crime_ID \
join crime_types t on d.Primary_Type_ID = t.Primary_Type_ID \
where Arrest = \'TRUE\' and Domestic = \'TRUE\' \
and Location_Description = \'STREET\' and year(date) = \'2016\' \
group by Primary_Type;'

cursor.execute(query)
data = cursor.fetchall()
print(data)

(('ASSAULT',), ('BATTERY',), ('CRIM SEXUAL ASSAULT',), ('CRIMINAL DAMAGE',), ('CRIMINAL TRESPASS',), ('HOMICIDE',), ('INTIMIDATION',), ('KIDNAPPING',), ('MOTOR VEHICLE THEFT',), ('NARCOTICS',), ('OFFENSE INVOLVING CHILDREN',), ('OTHER OFFENSE',), ('PUBLIC PEACE VIOLATION',), ('ROBBERY',), ('STALKING',), ('THEFT',), ('WEAPONS VIOLATION',))

In [35]:
#Are there any crimes that involved Telephone threats that occured in Disctric 10 and FBI code 30?
query = 'SELECT * FROM crime_incidents i join crime_details d \
on i.Crime_ID = d.Crime_ID \
where Description = \'TELEPHONE THREAT\' \
and District = 10 \
and FBI_Code like \'%30%\';'
cursor.execute(query)
data = cursor.fetchall()
print(data)

()

In [4]:
db.close()