## EAS 503 Homework 4 Submission
Name - _Enter your name here_

**Make sure that you rename the notebook file to *replacewithubitname*_eas503_hw3.ipynb**


### Submission Details 
* **Due Date** - November 28, 2017 by 11.59 PM PST. All assignments have to be submitted using UBLearns.
* **Number of Problems** - 1 
* **Maximum points** - 50
* **Collaboration policy**
 - Every student has to submit individual homeworks
 - Any collaboration, in the form of discussion, with other members of the class is permitted, as long as the names of the collaborating members are explicitly stated on top of the submitted homework.
 - Any overlap with another submission or material from Internet will be awarded an F.
* **Late submission policy** - _No late submissions allowed_
* **Submission Format** - Enter code for each problem in the appropriate cell below. You may use multiple cells for a single problem to improve readability.

### Problem 1 - Chicago Crime Dataset (50 points)

Recall the Chicago Crime Data that was used in HW3. In this HW you are provided with 3 data files namely `chicago_crime_data_1.csv`, `chicago_crime_data_2.csv` and `primary_type_id.csv`.  The `chicago_crime_data_1.csv` contains data pertaing to the details of the crime and the `chicago_crime_data_2.csv` has information about the location and type. Both the datasets have the Crime ID as the primary indicator. 

The `primary_type_id.csv` contains the mapping between the primary crime type to their corresponding ID.

Using pymysql import the chicago crime data. Check if the data format are correct. In this problem, you will be asked to create a single sql query that will result in the desired output. Wherever required, provide the algebraic expressions and expression trees.

1. What is the average crime rate in each year? (Query)

2. Subset the list of crimes that occured at SIDEWALK and an arrest has been made. (Query, algebraic expression and expression tree)

3. In the resulting dataset, identify the crime type that resulted in most crimes per each district. (Query)

4. List the crimes with FBI code = 26 and domestic? (Query, algebraic expression and expression tree) 

5. What is the increase in the number of crimes involving thefts (primary crime type) from 2016 to 2017? (Query)

6. What are the 3 most common types of crimes in `001XX N PARKSIDE AVE`? Provide the corresponding crime counts for these crime types. (Query)

7. Average days between the crime indcident date and last updated date. (Query)

8. List the crimes that were committed on `4/30/2016` and updated on the same day. (Query, algebraic expression, expression tree)

9. Subset the list of crimes in 2016 that were domestic and occured on a `STREET` and an arrest was made. (Query, algebraic expression, expression tree)

10. Are there any crimes that involved `Telephone threats` that occured in Disctric `10` and FBI code `30`? (Query, algebraic expression, expression tree)


Submit the SQL query as a .txt file. The algebraic expressions and expression tree can hand written and submitted through UBLearns as a single PDF file.

In [6]:
#Enter your solution here
import pymysql
import csv
conn = pymysql.connect(host="127.0.0.1", user = "root", passwd = "123456")
cursor = conn.cursor()

In [13]:
cursor.execute('CREATE DATABASE IF NOT EXISTS crime_dataset;')
cursor.execute('USE crime_dataset;')
cursor.execute('DROP TABLE IF EXISTS crime_info;')
cursor.execute("""CREATE TABLE IF NOT EXISTS crime_info(
              Crime_ID INT UNSIGNED NOT NULL,
              Case_Number VARCHAR(10) NOT NULL,
              Date DATETIME,
              Arrest VARCHAR(5),
              Domestic VARCHAR(5),
              Beat SMALLINT(4) UNSIGNED,
              District TINYINT(3) UNSIGNED,
              Ward VARCHAR(3) DEFAULT NULL,
              Community_Area TINYINT(2) UNSIGNED,
              FBI_Code VARCHAR(3));
              """)
conn.commit()

/Users/yujialian/Library/miniconda3/lib/python3.5/site-packages/pymysql/cursors.py:166: Warning: (1007, "Can't create database 'crime_dataset'; database exists")
  result = self._query(query)

In [14]:
cursor.execute('DROP TABLE IF EXISTS crime_detail;')
cursor.execute("""CREATE TABLE IF NOT EXISTS crime_detail(
              Crime_ID INT(8) UNSIGNED NOT NULL,
              Case_Number VARCHAR(10) NOT NULL,
              Block VARCHAR(40),
              IUCR VARCHAR(6),
              Primary_ID TINYINT(3) UNSIGNED,
              Description VARCHAR(100),
              Location_Des VARCHAR(100),
              X_Coor VARCHAR(10) DEFAULT NULL,
              y_Coor VARCHAR(10) DEFAULT NULL,
              Year YEAR,
              Update_Date DATETIME,
              Location VARCHAR(32));
              """)
conn.commit()

In [15]:
cursor.execute('DROP TABLE IF EXISTS crime_id;')
cursor.execute("""CREATE TABLE IF NOT EXISTS crime_id(
              Primary_Type_ID VARCHAR(50),
              Primary_ID TINYINT(3) UNSIGNED,
              PRIMARY KEY(Primary_Type_ID)
              );
              """)
conn.commit()

In [16]:
from datetime import datetime
f = open("chicago_crime_data_1.csv", "r")
info_reader = csv.reader(f)
next(info_reader, None)
info = []
for row in csv.reader(f):
    row[2] = datetime.strptime(row[2],'%m/%d/%Y %H:%M')
    info.append(row)
f.close()

In [17]:
cursor.executemany("INSERT INTO crime_info values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", info)
conn.commit()

In [18]:
f = open("chicago_crime_data_2.csv", "r")
info_reader = csv.reader(f)
next(info_reader, None)
des = []
for row in csv.reader(f):
    row[10] = datetime.strptime(row[10],'%m/%d/%Y %H:%M')
    des.append(row)
f.close()

In [19]:
cursor.executemany("INSERT INTO crime_detail values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", des)
conn.commit()

In [20]:
f = open("primary_type_id.csv", "r")
info_reader = csv.reader(f)
next(info_reader, None)
crime_id = []
for row in csv.reader(f):
    crime_id.append(row)
f.close()

In [21]:
cursor.executemany("INSERT INTO crime_id values(%s, %s)", crime_id)
conn.commit()

In [22]:
#Problem 1
crime_rate = cursor.execute("SELECT Year, COUNT(Crime_ID)/2700000 from crime_detail group by Year;")
result=cursor.fetchall()
result

((2016, Decimal('0.0992')), (2017, Decimal('0.0624')))

In [35]:
#Problem 2
import pandas as pd
qry1 = "SELECT * FROM crime_id WHERE Primary_ID IN (SELECT Primary_ID FROM Crime_detail WHERE Crime_ID IN (SELECT Crime_ID FROM crime_info WHERE Arrest='TRUE') AND Location_Des='SIDEWALK' GROUP BY Primary_ID);"
df1=pd.DataFrame(pd.read_sql(qry1,conn))
print(df1.shape)
df1

(28, 2)

                      Primary_Type_ID  Primary_ID
0                               ARSON           1
1                             ASSAULT           2
2                             BATTERY           3
3                            BURGLARY           4
4   CONCEALED CARRY LICENSE VIOLATION           5
5                 CRIM SEXUAL ASSAULT           6
6                     CRIMINAL DAMAGE           7
7                   CRIMINAL TRESPASS           8
8                  DECEPTIVE PRACTICE           9
9                            GAMBLING          10
10   INTERFERENCE WITH PUBLIC OFFICER          13
11                       INTIMIDATION          14
12                         KIDNAPPING          15
13               LIQUOR LAW VIOLATION          16
14                MOTOR VEHICLE THEFT          17
15                          NARCOTICS          18
16                          OBSCENITY          22
17         OFFENSE INVOLVING CHILDREN          23
18           OTHER NARCOTIC VIOLATION          24
19                      OTHER OFFENSE          25
20                       PROSTITUTION          26
21                   PUBLIC INDECENCY          27
22             PUBLIC PEACE VIOLATION          28
23                            ROBBERY          29
24                        SEX OFFENSE          30
25                           STALKING          31
26                              THEFT          32
27                  WEAPONS VIOLATION          33

In [ ]:
#Probem 3

In [6]:
import pandas as pd
crime_1 = pd.read_csv('chicago_crime_data_1.csv')
crime_2 = pd.read_csv('chicago_crime_data_2.csv')
crime_3 = pd.read_csv('primary_type_id.csv')

In [57]:
crime_1.head()

,Crime_ID,Case Number,Date,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code
0,10496347,HZ237390,4/23/2016 16:55,False,False,1512,15,29.0,25,14
1,10496348,HZ237355,4/23/2016 14:00,False,False,111,1,42.0,32,6
2,10496349,HZ237341,4/23/2016 16:10,True,False,915,9,11.0,34,04B
3,10496350,HZ237330,4/23/2016 13:30,False,False,1624,16,38.0,15,3
4,10496351,HZ237402,4/23/2016 16:45,False,True,632,6,8.0,44,26

In [83]:
crime_2.head()

,Crime_ID,Case Number,Block,IUCR,Primary Type ID,Description,Location Description,X Coordinate,Y Coordinate,Year,Updated On,Location
0,10496347,HZ237390,001XX N PARKSIDE AVE,1310,7,TO PROPERTY,APARTMENT,1138578.0,1900413.0,2016,4/30/2016 15:51,"(41.88285803, -87.766599362)"
1,10496348,HZ237355,0000X E RIVERWALK S,820,32,$500 AND UNDER,SIDEWALK,1176778.0,1902518.0,2016,4/30/2016 15:51,"(41.887856357, -87.626264274)"
2,10496349,HZ237341,003XX W 35TH ST,495,3,AGGRAVATED OF A SENIOR CITIZEN,SPORTS ARENA/STADIUM,1174431.0,1881739.0,2016,4/30/2016 15:51,"(41.830890037, -87.635503335)"
3,10496350,HZ237330,040XX N MAJOR AVE,031A,29,ARMED: HANDGUN,ALLEY,1137626.0,1926291.0,2016,4/30/2016 15:51,"(41.953887423, -87.76947041)"
4,10496351,HZ237402,084XX S DREXEL AVE,2820,25,TELEPHONE THREAT,RESIDENCE,1183692.0,1849271.0,2016,4/30/2016 15:51,"(41.741583562, -87.602537135)"

In [53]:
crime_2['X Coordinate'].min()

1094231.0

In [46]:
crime_3.head()

                        Primary Type  Primary Type ID
0                              ARSON                1
1                            ASSAULT                2
2                            BATTERY                3
3                           BURGLARY                4
4  CONCEALED CARRY LICENSE VIOLATION                5

In [58]:
crime_3['Primary Type ID']

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
32    33
Name: Primary Type ID, dtype: int64